<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Employee List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Employee List</h1>

<div>
    <nobr>
        <a th:href="@{/employees/add}">Add Employee</a> |
        <a th:href="@{/}">Back to Index</a>
    </nobr>
</div>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Address</th>
            <th>Status</th>
            <th>Edit</th>
        </tr>
        <tr th:each ="employee : ${employees}">
            <td><a th:href="@{/employees/{employeeId}(employeeId=${employee.id})}" th:utext="${employee.id}">...</a></td>
            <td><a th:href="@{/employees/{employeeId}(employeeId=${employee.id})}" th:utext="${employee.name}">...</a></td>
            <td th:utext="${employee.gender}">...</td>
            <td th:utext="${employee.dob}">...</td>
            <td th:utext="${employee.address}">...</td>
            <td th:utext="${employee.status}">...</td>
            <td><a th:href="@{/employees/{employeeId}/edit(employeeId=${employee.id})}">Edit</a></td>
        </tr>
    </table>
</div>
<br/><br/>
<div>
    <nobr>
        <span th:if="${hasPrev}"><a th:href="@{/employees?page={prev}(prev=${prev})}">Prev</a>&nbsp;&nbsp;&nbsp;</span>
        <span th:if="${hasNext}"><a th:href="@{/employees?page={next}(next=${next})}">Next</a></span>
    </nobr>
</div>
</body>
</html>