<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>View Employee</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>View Employee</h1>
<a th:href="@{/employees}">Back to Employee List</a>
<br/><br/>
<div th:if="${employee}">
    <table border="0">
        <tr>
            <td>ID</td>
            <td>:</td>
            <td th:utext="${employee.id}">...</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td th:utext="${employee.name}">...</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>:</td>
            <td th:utext="${employee.gender}">...</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>:</td>
            <td th:utext="${employee.dob}">...</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>:</td>
            <td th:utext="${employee.address}">...</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>:</td>
            <td th:utext="${employee.status}">...</td>
        </tr>
    </table>
    <br/><br/>
    <div th:if="not ${allowDelete}">
        <a th:href="@{/employees/{employeeId}/edit(employeeId=${employee.id})}">Edit</a> |
        <a th:href="@{/employees/{employeeId}/delete(employeeId=${employee.id})}">Delete</a>
    </div>
    <form th:if="${allowDelete}" th:action="@{/employees/{employeeId}/delete(employeeId=${employee.id})}" method="POST">
        Delete this employee? <input type="submit" th:value="Yes" />
    </form>
</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
</body>
</html>