<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${add} ? 'Add an Employee' : 'Edit an Employee'" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:text="${add} ? 'Add an Employee:' : 'Edit an Employee:'" />
<a th:href="@{/employees}">Back to Employee List</a>
<br/><br/>
<form th:action="${add} ? @{/employees/add} : @{/employees/{employeeId}/edit(employeeId=${employee.id})}"
      th:object="${employee}" method="POST">
    <table border="0">
        <tr th:if="${employee.id}">
            <td>ID</td>
            <td>:</td>
            <td th:utext="${employee.id}">...</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>:</td>
            <td><input type="text" th:field="*{gender}" /></td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td>:</td>
            <td><input type="text" th:field="*{dob}" /></td>
        </tr>
        <tr>
            <td>Address</td>
            <td>:</td>
            <td><input type="text" th:field="*{address}" size="50" /></td>
        <tr>
            <td>Status</td>
            <td>:</td>
            <td><input type="text" th:field="*{status}" /></td>
        </tr>
    </table>
    <input type="submit" th:value="${add} ? 'Create' : 'Update'" />
</form>

<br/>
<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
</body>
</html>